@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: rgb(34, 173, 238);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb))
}